<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <!-- imagem do balão -->
  
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <img src="https://images.pexels.com/photos/6438543/pexels-photo-6438543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 ">
      </ion-col>
      
      <!-- cadastro -->
      <ion-col size="6" class="ion-text-center">

          <ion-label color="dark">Criar Conta</ion-label>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-input label="Nome"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-input label="E-mail" type="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-input label="Senha" type="password" placeholder="********"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-input label="Confirmar Senha" type="password" placeholder="********"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <div id="confirmar">
            <ion-button color="success" shape="round">Criar Conta</ion-button> <br>
          </div>
          
          <!-- Login em outros meios -->

          <div id="login">
            <ion-label>Login com</ion-label> <br>
          </div>

          <div id="botao">
            <ion-button color="primary" shape="round">facebook</ion-button> <br>
            <ion-button color="secondary" shape="round">twitter</ion-button> <br>
            <ion-button color="danger" shape="round">google</ion-button> <br>
          </div>

      </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>
