<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      <ion-segment value="brasil" (ionChange)="selecionarCards($event)">

        <ion-segment-button value="brasil">
          <ion-label>Brasil</ion-label>
        </ion-segment-button>

        <ion-segment-button value="china">
          <ion-label>China</ion-label>
        </ion-segment-button>

        <ion-segment-button value="india">
          <ion-label>India</ion-label>
        </ion-segment-button>

        <ion-segment-button value="mexico">
          <ion-label>México</ion-label>
        </ion-segment-button>

        <ion-segment-button value="jordania">
          <ion-label>Jordânia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="italia">
          <ion-label>Itália</ion-label>
        </ion-segment-button>

        <ion-segment-button value="peru">
          <ion-label>Peru</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Cards do Brasil -->
  <ion-row *ngIf="this.item_selecionado ==  'brasil'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/11389772/pexels-photo-11389772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/13911606/pexels-photo-13911606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/13278962/pexels-photo-13278962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Cards da China -->
  <ion-row *ngIf="this.item_selecionado == 'china'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/19872/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/7897564/pexels-photo-7897564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/5714058/pexels-photo-5714058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Cards da India -->
  <ion-row *ngIf="this.item_selecionado == 'india'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/1603650/pexels-photo-1603650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/7263943/pexels-photo-7263943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/7850536/pexels-photo-7850536.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Cards do México -->
  <ion-row *ngIf="this.item_selecionado == 'mexico'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/12046436/pexels-photo-12046436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/7806363/pexels-photo-7806363.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/14632604/pexels-photo-14632604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Cards da Jordânia -->
  <ion-row *ngIf="this.item_selecionado == 'jordania'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/1631665/pexels-photo-1631665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/7679478/pexels-photo-7679478.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/16118911/pexels-photo-16118911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Cards da Itália -->
  <ion-row *ngIf="this.item_selecionado == 'italia'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/2064827/pexels-photo-2064827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/1797158/pexels-photo-1797158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/3649212/pexels-photo-3649212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Cards do Peru -->
  <ion-row *ngIf="this.item_selecionado == 'peru'">
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/2929906/pexels-photo-2929906.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/5952569/pexels-photo-5952569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img
          src="https://images.pexels.com/photos/5952570/pexels-photo-5952570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>