<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center divisor imagem">
    <ion-col size="10" class="ion-text-center">
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center divisor">
    <ion-col size="10" class="ion-text-center">
      <ion-button rounterLink="/login" expand="full" shape="round" color="dark">Login</ion-button>
      <ion-button rounterLink="/cadastro" expand="full" shape="round" color="dark">Criar Conta</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
